In [1]:
from db.championships_controller import ChampionshipsController

import pandas as pd

In [2]:
championships_controller = ChampionshipsController()

In [3]:
# Define a header for DataFrame columns

header = ['Clube','Partidas','Vitorias','Empates','Derrotas','Gols Marcados','Gols Sofridos','Saldo de Gols','Pontos']

In [4]:
# Getting season 22 and 23 from champeonato brasileiro serie a

serie_a_22 = championships_controller.select_championship_table_by_division(2022, 'Serie A')
serie_a_23 = championships_controller.select_championship_table_by_division(2023, 'Serie A')
serie_a_24 = championships_controller.select_championship_table_by_division(2024, 'Serie A')
serie_a_25 = championships_controller.select_championship_table_by_division(2025, 'Serie A')

In [5]:
# Define dataframe from serie a 2022

pd.DataFrame(serie_a_22, columns=header)

,Clube,Partidas,Vitorias,Empates,Derrotas,Gols Marcados,Gols Sofridos,Saldo de Gols,Pontos
0,Palmeiras,38,25,4,9,71,75,-4,79
1,International,38,23,9,6,79,69,10,78
2,São Paulo,38,24,4,10,69,69,0,76
3,Flamengo,38,23,5,10,77,56,21,74
4,Grêmio,38,21,7,10,77,67,10,70
5,Fluminense,38,20,8,10,70,63,7,68
6,Atlético Mineiro,38,19,9,10,63,68,-5,66
7,Athletico Paranaense,38,15,12,11,52,54,-2,57
8,Corinthians,38,15,10,13,76,61,15,55
9,Cuiabá,38,15,7,16,58,55,3,52
10,América Mineiro,38,14,6,18,63,54,9,48
11,Atlético Goianiense,38,14,4,20,52,57,-5,46
12,Fortaleza,38,10,14,14,52,54,-2,44
13,Bahia,38,11,9,18,54,64,-10,42
14,Red Bull Bragantino,38,10,10,18,54,60,-6,40
15,Santos,38,10,9,19,59,55,4,39
16,Ceará,38,10,6,22,52,58,-6,36
17,Chapecoense,38,8,10,20,45,41,4,34
18,Juventude,38,7,10,21,52,47,5,31
19,Sport Recife,38,5,9,24,49,51,-2,24

In [6]:
# Define dataframe from serie a 2023


pd.DataFrame(serie_a_23, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [7]:
pd.DataFrame(serie_a_24, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [8]:
pd.DataFrame(serie_a_25, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [9]:
# Getting season 22 and 23 from champeonato brasileiro serie a

serie_b_22 = championships_controller.select_championship_table_by_division(2022, 'Serie B')
serie_b_23 = championships_controller.select_championship_table_by_division(2023, 'Serie B')
serie_b_24 = championships_controller.select_championship_table_by_division(2024, 'Serie B')
serie_b_25 = championships_controller.select_championship_table_by_division(2025, 'Serie B')

In [10]:
# Define dataframe from serie a 2022

pd.DataFrame(serie_b_22, columns=header)

,Clube,Partidas,Vitorias,Empates,Derrotas,Gols Marcados,Gols Sofridos,Saldo de Gols,Pontos
0,Coritiba,38,20,11,7,52,44,8,71
1,Cruzeiro,38,19,9,10,45,36,9,66
2,Remo,38,18,12,8,42,27,15,66
3,Goiás,38,18,11,9,37,45,-8,65
4,Botafogo,38,18,8,12,50,43,7,62
5,Vasco da Gama,38,17,10,11,51,42,9,61
6,Avaí,38,14,12,12,28,30,-2,54
7,CRB,38,14,10,14,46,36,10,52
8,Vila Nova,38,13,10,15,47,47,0,49
9,Ponte Preta,38,12,12,14,26,28,-2,48
10,Náutico,38,11,14,13,31,42,-11,47
11,Operário,38,11,14,13,21,35,-14,47
12,Brusque,38,12,10,16,37,46,-9,46
13,Londrina,38,12,10,16,39,23,16,46
14,Sampaio Corrêa,38,11,12,15,30,39,-9,45
15,Guarani,38,11,11,16,44,33,11,44
16,Confiança,38,8,17,13,34,31,3,41
17,Brasil de Pelotas,38,9,12,17,42,45,-3,39
18,CSA,38,8,14,16,33,50,-17,38
19,Vitória,38,9,11,18,41,32,9,38

In [11]:
# Define dataframe from serie a 2023

pd.DataFrame(serie_b_23, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [12]:
pd.DataFrame(serie_b_24, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [13]:
pd.DataFrame(serie_b_25, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [14]:
# Serie C

serie_c_22 = championships_controller.select_championship_table_by_division(2022, 'Serie C')
serie_c_23 = championships_controller.select_championship_table_by_division(2023, 'Serie C')
serie_c_24 = championships_controller.select_championship_table_by_division(2024, 'Serie C')
serie_c_25 = championships_controller.select_championship_table_by_division(2025, 'Serie C')

In [15]:
pd.DataFrame(serie_c_22, columns=header)

,Clube,Partidas,Vitorias,Empates,Derrotas,Gols Marcados,Gols Sofridos,Saldo de Gols,Pontos
0,Figueirense,38,14,18,6,16,9,7,60
1,Ypiranga,38,13,20,5,10,21,-11,59
2,Novorizontino,38,10,24,4,11,17,-6,54
3,Floresta,38,12,18,8,21,20,1,54
4,Oeste,38,12,16,10,21,19,2,52
5,São José,38,12,16,10,23,18,5,52
6,Altos,38,10,21,7,16,22,-6,51
7,Ituano,38,10,21,7,18,18,0,51
8,Mirasol,38,9,24,5,14,11,3,51
9,Ferroviário,38,9,20,9,13,20,-7,47
10,Santa Cruz,38,10,17,11,18,19,-1,47
11,Manaus,38,10,17,11,18,22,-4,47
12,Botafogo SP,38,9,20,9,19,18,1,47
13,Tombense,38,9,19,10,12,22,-10,46
14,Paraná,38,9,18,11,15,16,-1,45
15,Criciúma,38,8,18,12,16,23,-7,42
16,Jacuipense,38,6,20,12,20,16,4,38
17,Volta Redonda,38,6,18,14,12,19,-7,36
18,Paysandu,38,5,21,12,13,17,-4,36
19,Botafogo-PB,38,7,14,17,18,23,-5,35

In [16]:
pd.DataFrame(serie_c_23, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [17]:
pd.DataFrame(serie_c_24, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [18]:
pd.DataFrame(serie_c_25, columns=header)

Empty DataFrame
Columns: [Clube, Partidas, Vitorias, Empates, Derrotas, Gols Marcados, Gols Sofridos, Saldo de Gols, Pontos]
Index: []

In [19]:
"""
Analisando as tabelas é necessario aplicar um meio de padronizar o 'poder de fogo' dos clubs maiores
e manter uma constrancia nos clubes para que consiga trazer mais riqueza aos dados

Regulando a qualidade dos jogadores que atuam já pode ser uma maneira de se regularizar esses dados
pois aparente os clubes que divisoes inferiores tendem a ser campeao das superiores mesmo que na realidade
as divisoes possuem um peso de excelencia

Passo 1
Atribuir um padrão de criação de dados para jogadores de times grandes e pequenos,
baseados na divisão que eles jogam.
Para isso o confifgure devera puxar os clubes por divisão
e o data generation nao deve criar dados da maneira atual

ex:
configure -> criar jogadores skills por divisão
data_manipulation -> criar dados baseados num peso
"""

"\nAnalisando as tabelas é necessario aplicar um meio de padronizar o 'poder de fogo' dos clubs maiores\ne manter uma constrancia nos clubes para que consiga trazer mais riqueza aos dados\n\nRegulando a qualidade dos jogadores que atuam já pode ser uma maneira de se regularizar esses dados\npois aparente os clubes que divisoes inferiores tendem a ser campeao das superiores mesmo que na realidade\nas divisoes possuem um peso de excelencia\n\nPasso 1\nAtribuir um padrão de criação de dados para jogadores de times grandes e pequenos,\nbaseados na divisão que eles jogam.\nPara isso o confifgure devera puxar os clubes por divisão\ne o data generation nao deve criar dados da maneira atual\n\nex:\nconfigure -> criar jogadores skills por divisão\ndata_manipulation -> criar dados baseados num peso\n"

In [20]:
# 19 dez 2023

"""
Analisando os resultados, conclui-se que:
Time da serie B e da serie C são potencialmente capazes de ganhar a serie A e/ou as series seguintes, como o floresta 
que foi campeao seguida da C, B e depois da A.

O lógico é que essas divisões possuem um nível técnico mais baixo, onde a lógica, se estabeleça de que quando um time caia,
ele tenha mais capacidade de sumir do seguir descendo como ocorreu o são paulo por exemplo, e times da serie B que subam pra A mesmo que possuem um nivel
técnico elevado com relação ao "teto técnico" da serie B não é o suficiente na serie A para que ele já seja capaz de conseguir ganhar a divisão.

Mudanças:
    Atribuir pesos a criação dos jogadores, essa regra de negocio pode ser aplicada dentro da aplicação e não no banco de dados
    Players.skills -> peso_baseado_no_clube

    Isso contando no overall total, porém esses valores podem ser distribuidos nas habilidades já que o que conta em si é a habilidade que 
    está sendo requerida e não o overall como um todo.
    
    A -> Jogadores de 55 a 80
    B -> Jogadores de 55 a 70
    C -> Jogadores de 55 a 65

    As médias de gols marcados é muito baixa, a de gols sofridos parace estar numa média boa, e as divisões também deveriam ter 
    diferenças com relação a quantidade de gols marcados e sofridos, porém essas mudanças talvez já possam ser observadas com as mudanças 
    das skills dos jogadores.
"""

'\nAnalisando os resultados, conclui-se que:\nTime da serie B e da serie C são potencialmente capazes de ganhar a serie A e/ou as series seguintes, como o floresta \nque foi campeao seguida da C, B e depois da A.\n\nO lógico é que essas divisões possuem um nível técnico mais baixo, onde a lógica, se estabeleça de que quando um time caia,\nele tenha mais capacidade de sumir do seguir descendo como ocorreu o são paulo por exemplo, e times da serie B que subam pra A mesmo que possuem um nivel\ntécnico elevado com relação ao "teto técnico" da serie B não é o suficiente na serie A para que ele já seja capaz de conseguir ganhar a divisão.\n\nMudanças:\n    Atribuir pesos a criação dos jogadores, essa regra de negocio pode ser aplicada dentro da aplicação e não no banco de dados\n    Players.skills -> peso_baseado_no_clube\n\n    Isso contando no overall total, porém esses valores podem ser distribuidos nas habilidades já que o que conta em si é a habilidade que \n    está sendo requerida e não o overall como um todo.\n    \n    A -> Jogadores de 55 a 80\n    B -> Jogadores de 55 a 70\n    C -> Jogadores de 55 a 65\n\n    As médias de gols marcados é muito baixa, a de gols sofridos parace estar numa média boa, e as divisões também deveriam ter \n    diferenças com relação a quantidade de gols marcados e sofridos, porém essas mudanças talvez já possam ser observadas com as mudanças \n    das skills dos jogadores.\n'